@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html, body {
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome / Safari / Electron */
}
